.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [row-1-start] 5rem [row-1-end row-2-start] 200px [row-2-end row-3-start] 100px [row-3-end];
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: span 1;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}